<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Vue.jsアプリ</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css'>
<link rel='stylesheet' href='https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <v-app>
    <v-content style="background-color: #FEEE7E;">
      <v-container>
        <v-row class="text-h3 mb-3 mt-3"
               align="center"
               justify="center">
          <p>2024 SUMMER WISH LIST</p>
        </v-row>

        <v-row>
          <v-col
            v-for="(wish, index) in wishList"
            :key="index"
            cols="12"
            sm="6"
            md="3"
            class="d-flex"
          >
            <v-card>
              <v-img :src="wish.image" 
                     class="responsive-image"></v-img>
              <v-card-text>
                <v-checkbox
                  v-model="wish.checked"
                  :label="wish.text"
                  color="#E87170"
                ></v-checkbox>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <div class="txtf">
          <v-col cols="12">
            <v-text-field
              label="Let's enjoy summer"
              v-model="newWish.text"
              filled
              color="#E87170"
            ></v-text-field>

            <v-text-field
              label="画像のURLを入力"
              v-model="newWish.image"
              filled
              color="#E87170"
            ></v-text-field>
          </v-col>
          <v-row
          align="center"
          justify="center"
        >
          <v-btn @click="addWish" 
                 dark midium color="#E87170">
            <v-icon light>mdi-plus</v-icon>
          </v-btn>
        </div>
          
           
           
          
      </v-container>
    </v-content>
  </v-app>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js'></script><script  src="./script.js"></script>

</body>
</html>
